@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
   --first-color: #3a999b;
   --second-color: #88e8d5;
   --light-color: #f4fdff;
   --dark-color: #282d35;
   --gray-color-75: #dadee7;
   --gray-color-100: #9ea6b1;
   --gray-color-200: #566683;
   --link-color: #3d7aed;
   --main-bg: #f1e7db;
   --header-height: 4.5rem;
   --oppacity: rgba(58, 153, 155, 0.3);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.3s;
}

body {
   min-height: 100vh;
   color: rgb(30 41 59);
   font-family: 'Ubuntu', sans-serif;
   background-color: var(--main-bg);
}
body.darkTheme {
   --first-color: #9fded1;
   --second-color: #2c7a7b;
   --light-color: #282d35;
   --dark-color: #f4fdff;
   --gray-color-75: #566683;
   --gray-color-100: #9ea6b1;
   --gray-color-200: #dadee7;
   --main-bg: #282d35;
   --header-height: 4.5rem;
   --link-color: #df80bb;
   --oppacity: rgba(159, 222, 209, 0.3);
}
html {
   scroll-behavior: smooth;
   scroll-snap-stop: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'M PLUS Rounded 1c', sans-serif;
   margin: 12px 0 16px;
   color: var(--dark-color);
   letter-spacing: 0.5px;
}

h3 {
   margin: 12px 0 16px;
   display: inline-block;
   font-weight: 500;
   border-bottom: 4px solid var(--dark-color);
}

/* a {
   color: var(--link-color);
   border-bottom: 2px solid var(--link-color);
} */

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.app {
   background-image: url(../Images/background-1.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
}

.app-section {
   position: relative;
   padding-top: calc(var(--header-height) + 1.5rem);
}

.section {
   padding: 2.5rem 0;
}

.container {
   position: relative;
   width: 100%;
   max-width: 1320px;
   margin: auto;
   padding: 0 1rem;
}

@media screen and (max-width: 1500px) {
   .container {
      width: 1140px;
   }
}
@media screen and (max-width: 1300px) {
   .container {
      width: 996px;
   }
}
@media screen and (max-width: 992px) {
   .container {
      width: 100%;
   }
}
