.introduction-section {
   position: relative;
   display: flex;
   flex-direction: column;
   height: calc(100vh - 6rem);
   margin-top: 4rem;
}

.introduction-wrapper-1 {
   height: calc(100% / 2);
   border: 4px solid var(--second-color);
   color: var(--light-color);
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: var(--first-color);
}

.wrapper-1-1 {
   height: 100%;
   width: 50%;
   display: flex;
   align-items: center;
   font-size: 2rem;
   text-align: left;
   color: var(--light-color);
   padding: 0 1.5rem;
}

.wrapper-1-2 {
   height: 100%;
   width: 50%;
   align-items: center;
   font-size: 5rem;
   display: flex;
   justify-content: end;
   padding: 0 1.5rem;
}

.introduction-wrapper-2 {
   height: calc(100% / 2);
   border-bottom: 4px solid var(--light-color);
   border-top: 4px solid var(--light-color);
   color: var(--light-color);
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   border: 0.5rem;
   background-color: var(--gray-light);
   border: 4px solid var(--dark-color);
}

.wrapper-2-1 {
   height: 100%;
   width: 50%;
   display: flex;
   align-items: center;
   font-size: 2rem;
   text-align: right;
   color: var(--dark-color);
   padding: 0 1.5rem;
}

.wrapper-2-2 {
   height: 100%;
   width: 50%;
   align-items: center;
   font-size: 5rem;
   display: flex;
   justify-content: start;
   color: var(--dark-color);
   padding: 0 1.5rem;
}

.introduction-highline {
   text-decoration: underline;
}

@media screen and (max-width: 1200px) {
   .introduction-wrapper-1 {
      flex-direction: column;
   }
   .wrapper-1-1 {
      width: 100%;
      text-align: center;
      justify-content: center;
   }

   .wrapper-1-2 {
      width: 100%;
      text-align: center;
      justify-content: center;
   }
   .introduction-wrapper-2 {
      flex-direction: column;
   }
   .wrapper-2-1 {
      width: 100%;
      text-align: center;
      justify-content: center;
   }
   .wrapper-2-2 {
      width: 100%;
      text-align: center;
      justify-content: center;
   }
}
