.main-section {
   position: relative;
   min-height: 100vh;
   padding-top: 6rem;
}

.games-banner {
   width: 100%;
   transition: all 0.4s;
   border-radius: 0.5rem;
   border: 4px solid rgba(255, 255, 255, 0);
}

.games-banner:hover {
   border: 4px solid rgba(255, 255, 255, 1);
   transform: scale(0.95);
}

.games-heading-container {
   padding: 0.5rem 0;
   font-size: 1.7rem;
}

.games-heading-container h3 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
   margin-left: 0.4rem;
}

.games-items-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 0.5rem;
   margin-top: 1rem;
   font-size: 25px;
}

.games-item-1 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: calc(48% - 1rem);
   height: 23.8vh;
   transition: all 0.4s;
   background-color: var(--first-color);
   cursor: pointer;
   border-radius: 0.5rem;
   color: var(--light-color);
}

.games-item-1:hover {
   box-shadow: inset 0 0 0 4px white;
   transform: scale(1.04);
   font-size: 32px;
}

.games-item-2 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: calc(48% - 1rem);
   height: 23.8vh;
   transition: all 0.4s;
   background-color: var(--second-color);
   cursor: pointer;
   border-radius: 0.5rem;
   color: var(--dark-color);
}

.games-item-2:hover {
   box-shadow: inset 0 0 0 4px white;
   transform: scale(1.04);
   font-size: 32px;
}

.games-item-3 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: calc(48% - 1rem);
   height: 23.8vh;
   transition: all 0.4s;
   background-color: var(--second-color);
   cursor: pointer;
   border-radius: 0.5rem;
   color: var(--dark-color);
}

.games-item-3:hover {
   box-shadow: inset 0 0 0 4px white;
   transform: scale(1.04);
   font-size: 32px;
}

.games-item-4 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: calc(48% - 1rem);
   height: 23.8vh;
   transition: all 0.4s;
   background-color: var(--first-color);
   cursor: pointer;
   border-radius: 0.5rem;
   color: var(--light-color);
}

.games-item-4:hover {
   box-shadow: inset 0 0 0 4px white;
   transform: scale(1.04);
   font-size: 32px;
}

@media screen and (max-width: 960px) {
   .games-items-list {
      justify-content: center;
   }

   .games-item-1 {
      width: 100%;
   }
   .games-item-2 {
      width: 100%;
   }
   .games-item-3 {
      width: 100%;
   }
   .games-item-4 {
      width: 100%;
   }
}
